@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('fonts/OpenSansCondensedLight/OpenSans-CondLight.woff2') format('woff2'),
         url('fonts/OpenSansCondensedLight/OpenSans-CondLight.woff') format('woff'),
         url('fonts/OpenSansCondensedLight/OpenSans-CondLight.eot') format('embedded-opentype'),
         url('fonts/OpenSansCondensedLight/OpenSans-CondLight.ttf') format('truetype'),
         url('fonts/OpenSansCondensedLight/OpenSans-CondLight.svg#OpenSans-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
}


html,
body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.main {
    flex: 1 1 auto;
}

/* header */

.header {
    background-color: #dcdcdc;
    z-index: 50;
}

.header__logo {
    margin-top: 65px;
    margin-bottom: 65px;
    padding: 0;
    display: block;
}

.header__logo a {
    margin: 0;
}

.header__inner {
    max-width: 980px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.header__info {
    margin-top: 45px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__phones {
    font-family: "Open Sans Condensed Light", sans-serif;
    font-size: 40px;
    line-height: 46px;
    color: #777777;
}

.header__phone {
    display: block;
    color: #767676;
    font-size: 40px;
    text-decoration: none;
}

.feedback__link {
    text-align: right;
    font-weight: 700;
    margin-top: 9px;
    color: #767676;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px dashed #767676;
}


/* MENU */


.menu {
    padding: 0;
    margin: 0;
    background-color: #777777;
    width: 100%;
    display: flex;
    z-index: 2;
    align-items: center;
    height: 80px;
}

.menu__burger {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
}


.menu__items {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    list-style-type: none;
    margin-top: 26px;
    margin-bottom: 28px;
}

.menu__link {
    position: relative;
    color: #fff;
    line-height: 60px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    padding: 0 18px;
    letter-spacing: 1px;
}

.menu__link::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 2px;
    top: 50%;
    right: -4px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
}

.last-menu__link::after {
    display: none;
}



.menu__link:hover {
    border-bottom: #fff 1px solid;
}

/* slider */

.slider {
    margin: 0 auto;
    width: 100%;
    z-index: 1110;
    height: auto;
}

.slider__items {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
}

.slider__item {
    text-align: center;
}

.slider__item img {
    max-width: 100%;
    max-height: 100%;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    overflow: hidden;
}

.slick-arrow {
    position: absolute;
    margin-top: -30px;
    width: 35px;
    height: 60px;
    z-index: 1111;
    top: 50%;
    font-size: 0px;
    border: none;
}

.slick-prev {
    left: 30%;
    background: url('../images/slider/slider-arrows/slider-arrow-left.jpg');
    background-size: contain;
}

.slick-next {
    right: 29%;
    background: url('../images/slider/slider-arrows/slider-arrow-right.jpg');
    background-size: contain;
}

/* content */
.breadcrumbs-items {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.breadcrumbs-link {
    font-size: 14px;
    color: #767676;
    text-decoration: underline;
}

.breadcrumbs-item::after {
    content: '/';
    margin: 0 10px;
    color: #767676;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    text-decoration: none;
}

.breadcrumbs-item:last-child::after {
    content: '';
    margin: 0;
}

/* category */


.container__content {
    display: flex;
}

.content__leftblock {
    width: 200px;
    display: block;
}

.categories {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    margin-bottom: 111px;
}


.category__list:hover a {
    text-decoration: underline;
    color: black;
}

.category__item:hover .category__item-title {
    text-decoration: underline;
}

.category__item-title {
    color: #767676;
}

.category__item-list {
    padding: 0;
}

.category__item-list li {
    list-style: none;
    font-size: 14px;
    padding-left: 18px;
}

.category__item-list a {
    text-decoration: none;
    color: #767676;
}

.category__item-list li::before {
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #767676;
    margin-right: 8px;
    border-radius: 50%;
}

.category__item-list a:hover {
    text-decoration: underline;
    color: black;
}

.category__item .category__item-list {
    display: none;
}

.category__item:hover .category__item-list {
    display: block;
    text-decoration: none;
}

.leftblock__image {
    text-align: center;
}

.leftblock__image-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
    color: #444;
}

/* center block */

.content__block-card {
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    justify-content: flex-start;
    column-gap: 15px;
    row-gap: 20px
}

.content__goods-card {
    position: relative;
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
}

.content__good-photo {
    margin: 20px 20px 0;
    padding: 0;
}

.content__good-info {
    font-size: 18px;
    color: #767676;
    margin: 20px 20px;
}

.content__good-price {
    position: absolute;
    font-size: 28px;
    color: #444;
    font-weight: bold;
    margin: 0 0 18px 14px;
    bottom: 0;
}

.content__good-basket {
    width: 30px;
    height: 20px;
}

.content__good-basket-a {
    position: absolute;
    right: 37px;
    bottom: 14px;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.pagination a {
    text-decoration: none;
    color: #767676;
    font-size: 14px;
    padding: 5px 8px;
}

.pagination .active {
    font-size: 18px;
    color: #444444;
}

.content__horizon-line {
    border: 1px solid #777;
    width: 100%;
}

.content__info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    min-height: 443px;
    overflow: auto;
}

.content__info p {
    max-width: 370px;
    color: #767676;
}

/* feedback */

.feedback{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.feedback:target{
    opacity: 1;
    visibility: visible;
}

.feedback__area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.feedback__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.feedback__content{
    background-color: #fff;
    color: #535353;
    width: 466px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.feedback__close-btn{
    position: absolute;
    top: -27px;
    right: -27px;
    width: 27px;
    height: 27px;
    background-color: #777;
    cursor: pointer;
}

.feedback__close-btn img{
    margin: 4px;
}

.feedback__title{
    font-weight: bold;
    margin: 35px auto;
    font-size: 24px;
    text-transform: uppercase;
    max-width: auto;
}

.feedback__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feedback__form input::placeholder {
    font-style: italic;
    color: #ff8383;
}


.feedback__content p {
    font-style: 20px;
}

.feedback__content input {
    display: block;
    margin: 0 auto 22px;
    width: 317px;
    height: 40px;
    color:#535353;
    padding: 0 10px;
    border: 1px solid #c3c3c3;
}

.feedback__content input:focus {
    outline: none;
}

.feedback__message{
    width: 317px;
    padding: 5px 10px;
    height: 140px;
    resize: none;
    margin-bottom: 22px;
    border: 1px solid #c3c3c3;
}

.feedback__form-btn{
    margin-bottom: 25px;
    width: 126px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background: #777;
    border: 1px solid #858585;
    cursor: pointer;
    z-index: 1502;
}


input:invalid,
input:out-of-range {
  border-color: #ff8383;
  box-shadow: inset 0 0 6.5px rgba(228,106,106,0.75); 
}

/* footer */


.footer {
    background-color: #777777;
    height: 220px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: #fff;
}

.footer__info-name {
    margin: 0;
}

.footer__info-email {
    margin: 0;
    color:#fff;
}

.footer__menu {
    margin: 0;
    padding: 0;
}

.footer__menu a {
    text-decoration: underline;
    color: #fff;
}

.footer__menu li {
    list-style: none;
}

.footer__company-maker {
    display: flex;
    height: 34px;
    max-width: 197px;
    text-align: left;
}

.footer__company-maker-text {
    text-decoration: underline;
    margin: -6px 0 0 10px;
    width: 196px;
    word-wrap: break-word;
}

.footer__company-maker-text a {
    color: #fff;
}


/* burger menu */
.menu__burger {
    display: none;
}

.burger__menu li {
    list-style-type: none;
}

.burger__menu__link {
    border: none;
    text-decoration: none;
}

.burger__menu__link:hover {
    border-bottom: white 1px solid;
}

.menu__burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
    z-index: 1115;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.menu__burger span:nth-child(1) {
    transform: translateY(-10px);
}

.menu__burger span:nth-child(3) {
    transform: translateY(10px);
}

.menu.open .menu__burger span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
}

.menu.open .menu__burger span:nth-child(2) {
    opacity: 0
}

.menu.open .menu__burger span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

/* adaptive */

@media (max-width:1850px) {
    .slick-prev {
        left: 23%;
    }

    .slick-next {
        right: 25%
    }
}

@media (max-width:1600px) {
    .slick-next {
        right: 23%;
    }
}

@media (max-width:1510px) {
    .slick-next {
        right: 21%;
    }

    .slick-prev {
        left: 18%;
    }
}

@media (max-width:1420px) {
    .slick-next {
        right: 16.7%;
    }

    .slick-prev {
        left: 15%;
    }
}

@media (max-width:1250px) {
    .slick-next {
        right: 13%;
    }

    .slick-prev {
        left: 12%;
    }
}


@media (max-width: 1000px) {

    .container {
        max-width: 880px;
        margin: auto;
        padding: 0;
    }

    .header__phone {
        font-size: 35px;
        line-height: 35px;
    }

    .menu__link {
        font-size: 25px;
    }

    .menu__items {
        align-items: center;
        text-align: center;
    }

    .menu__item {
        margin: 0;
    }

    .feedback__link {
        font-size: 22px;
    }

    .header__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .header__inner {
        justify-content: flex-end;
    }

    .content__info {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer {
        height: 340px;
    }

    .footer__info,
    .footer__menu {
        margin-bottom: 40px;
    }

    .slick-track {
        display: flex;
        overflow: hidden;
    }
}


@media (max-width: 868px) {

    .container {
        max-width: 720px;
    }

    .header.open .burger__menu {
        transform: translateX(100%);
    }

    .menu__burger {
        display: block;
        background-color: transparent;
        z-index: 1112;
        margin: 0 auto;
    }

    .header {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1115;
    }

    .header__logo {
        z-index: 3;
        right: 0;
        margin: 0;
        padding-left: 35px;
        top: 0px;
        margin-top: 20px;
        width: 136.2px;
        height: 50px;
    }

    .header__phone {
        font-size: 23px;
        line-height: 23px;
    }

    .feedback__link {
        font-size: 20px;
    }

    .header__inner {
        justify-content: flex-start;
    }

    .header__info {
        margin: 25px 0 25px auto;
    }

    .header__inner {
        justify-content: flex-start;
    }

    .slick-arrow {
        width: 23.3px;
        height: 45px;
    }

    .menu{
        height: 100%;
    }

    .menu__item{
        margin: 0 auto;
    }

    .menu__items{
        padding: 0;
    }

    .menu__link::after{
        display: none;
    }

    .menu .menu__items{
        display: none;
    }

    .menu.open .menu__items{
        display: flex;
        flex-direction: column;
    }

    .burger__menu__items {
        display: block;
    }

    .burger__menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
        transition: transform 0.5s;
    }

    

}

@media (max-width:770px) {

    .container {
        max-width: 650px;
    }

}


@media(max-width:660px) {
    .container {
        max-width: 500px;
        padding: 0 15px;
    }

    .leftblock__image img {
        width: 68px;
        height: 77.7px;
    }

    .leftblock__image-text {
        font-size: 20px;
    }

    .content__block-card {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:550px) {
    .container {
        width: auto;
        padding: 0 15px;
    }

    .feedback__content{
        width: 400px;
    }
}

@media (max-width: 440px) {
    .content__goods-card {
        width: 200px;
        height: 350px;
    }

    .content__good-photo {
        width: 160px;
    }

    .content__good-price {
        font-size: 20px;
    }

    .feedback__content{
        width: 100%;
        height: 100%;
    }

    .feedback__close-btn{
        top: 10px;
        right: 10px;
    }

    .feedback__content input{
        width: 80%;
    }

    .feedback__message{
        width: 80%;
    }

    .menu__link{
        font-size: 20px;
    }

}

@media (max-width: 390px) {
    .header__phone {
        font-size: 15px;
    }

    .feedback__link {
        font-size: 15px;
    }
    
}


@media (max-width:338px) {
    .header__phone {
        font-size: 14px;
    }

    .feedback__link {
        font-size: 12px;
    }

    .content__goods-card {
        width: 180px;
    }

    .content__good-photo {
        width: 140px;
    }

    .content__good-price {
        font-size: 18px;
    }
}